<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${pageName}">All Objects</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 th:text="${pageName}"> Page Name </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form action="#" th:action="${submitPath}" method="post" th:object="${object}">
                <div th:each="item : ${items}">
                    <input th:unless="${item.type == 'enum'}" th:type="${item.type}" th:id="${item.name}" th:name="${item.name}">
                    <select th:if="${item.type == 'enum'}" th:id="${item.name}" th:name="${item.name}">
                        <option th:each="value : ${item.allValues}" th:value="${value}" th:text="${value}"></option>
                    </select>
                    <br>
                </div>
                <button type="submit">Submit</button>
            </form>

<!--            <table class="table">-->
<!--                <thead>-->
<!--                <tr>-->
<!--                    <th th:each="header : ${headers}" th:text="${header}">-->
<!--                    </th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                <tr th:if="${items.empty}">-->
<!--                    <td colspan="2"> No Objects Available</td>-->
<!--                </tr>-->
<!--                <tr th:each="item : ${items}">-->
<!--                    <td th:each="item_data : ${item}"><span th:text="${item_data}"> Data </span></td>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--            </table>-->
        </div>
        <div class="col-md-6">
            <a class="btn btn-success" href="#" th:href="@{/books/create}"> Add Books </a>
            <a class="btn btn-primary" href="#" th:href="@{/books/edit}"
               th:classappend="${items.empty} ? 'disabled' : ''"> Edit Books </a>
        </div>
    </div>
</div>
</body>
</html>